.btn-box{
  display: flex;
  justify-content: space-around;
  background: linear-gradient(
    99.99deg,
    #b936f5 -21.45%,
    #c64c85 100%,
    #f1005b 100%
  );
  border-radius: 2px;
  margin-left: 5px;
  padding: 5px 15px;
  color: white;
  border: hidden;
  cursor: pointer;
  transition: background-color 0.5s ease-in;
}
.btn-box:hover {
  background: rgb(237, 195, 236);
}

.header-container{
  position: relative;
}

.header-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
   
  }

  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-list_link {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    font-family: "Inter";
    color: white;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
  }
 
  .header_logo {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 32px;
    font-family: "IM FELL Great Primer SC ";
    margin-top: 20px;
  }
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headerellipse {
    position: absolute;
    width: 100%;
    max-width: 354px;
    top: 0;
    left: 70px;
    filter: blur(5px);
   z-index:10 ;
  }
  .header {
    background-color: rgba(8, 8, 8);
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    box-sizing: border-box;
   position: relative; 
  
  }
  .nav-list_item:not(:last-child) {
    margin-right: 34px;
  }
  .nav-list_link:hover {
    font-weight: 500;
    color: #df308d;
  }
  .nav-list_link:hover::after {
    content: "";
    background-color: white;
    height: 3px;
    width: 10px;
    position: absolute;
    margin-top: 20px;
  }

  .headerellipse {
    position: absolute;
    width: 100%;
    max-width: 354px;
    top: 0;
    left: 0;
    filter: blur(5px);
  }