.bcgg{
    background-color: rgb(8, 8, 8);
    height: 100%;
    margin: 0 auto;
    width: 840px;
    padding: 15px;
    color: white;
}
.centr{
    width: 100%;
    display: flex;
   justify-content: center;
  
}