.container{
    background-color: rgb(8, 8, 8);
    height: 100%;
    margin: 0 auto;
    max-width: 840px;
    padding: 15px;
    color: white;
}
.hero{
    width: 100%;
    display: flex;
   justify-content: center;
  
}
#root{
    background-color: rgb(8, 8, 8);
}
